/* public/css/app.css (or your custom CSS file) */

.layout-river{
    margin-top: 100px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}
hr {
    border: 3px solid;
    color: #2065afa3;
}
.invalid-feedback{
    display: block !important;
}
#blah{
    width: 300px;
    height: 300px;
}
.custom-file-input{
    opacity: 1;
}
.custom-file-label{
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}
.custom-file-label::after{
    display: none;
}
.col-table td{
    position: relative;
}
.col-table td input{
    width: 100%;
}
.col-table:hover td .img-table{
    display: block;
    position: absolute;
    z-index: 2;
}
.img-table{
    display: none;
}
